{% include 'base.html.twig' %}

<div class="container">
    {% if champs %}
        <div class="alert alert-danger" role="alert">
            {{ champs | raw }}
        </div>
        <hr>
    {% endif %}
    <div class="jumbotron">
        <p class="lead">Général</p>
        <form method="POST" action="{{ path('createContact') }}" class="container" enctype="multipart/form-data">
            <div class="row">
                <div class="form-group col">
                    <p>Civilité : *</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="civilite" id="m" value="M" {% if filled is not null and filled.civilite == "M" %} checked {% endif %}>
                        <label class="form-check-label" for="m">M</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="civilite" id="mme" value="Mme" {% if filled is not null and filled.civilite == "Mme" %} checked {% endif %}>
                        <label class="form-check-label" for="mme">Mme</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="civilite" id="melle" value="Melle" {% if filled is not null and filled.civilite == "Melle" %} checked {% endif %}>
                        <label class="form-check-label" for="melle">Melle</label>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="nom">Nom : *</label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" {% if filled is not null and filled.nom is not null %} value="{{ filled.nom }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="prenom">Prénom : *</label>
                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" {% if filled is not null and filled.prenom is not null %} value="{{ filled.prenom }}" {% endif %}>
                </div>
                <div class="form-group col">
                    <label for="phone">Téléphone : </label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Téléphone du contact" {% if filled is not null and filled.telephone is not null %} value="{{ filled.telephone }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="birthdate">Date de naissance : </label>
                    <input type="date" class="form-control" id="birthdate" name="birthdate" placeholder="JJ/MM/AAAA" {% if filled is not null and filled.birthdate is not null %} value="{{ filled.birthdate }}" {% endif %}>
                </div>
                <div class="form-group col">
                    <label for="mobile">Téléphone mobile : </label>
                    <input type="tel" class="form-control" id="mobile" name="mobile" placeholder="Téléphone portable" {% if filled is not null and filled.mobile is not null %} value="{{ filled.mobile }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="email">Adresse email : </label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Adresse email" {% if filled is not null and filled.email is not null %} value="{{ filled.email }}" {% endif %}>
                </div>
            </div>
            <hr class="my-4">
            <p class="lead">Employeur</p>
            <div class="row">
                <div class="form-group col">
                    <p>Décideur : *</p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="decideur" id="yes" value="1" {% if filled is not null and filled.decideur == true %} checked {% endif %}>
                        <label class="form-check-label" for="yes">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="decideur" id="no" value="0" {% if filled is not null and filled.decideur == false %} checked {% endif %}>
                        <label class="form-check-label" for="no">Non</label>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="societe">Société : *</label>
                    <input type="text" class="form-control" id="societe" name="societe" placeholder="Société du contact" {% if filled is not null and filled.societe is not null %} value="{{ filled.societe }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="fonction">Fonction : *</label>
                    <select class="form-control" id="fonction" name="fonction">
                        {% for fonction in fonctions %}
                            <option value="{{ fonction.id }}" {% if filled is not null and filled.fonction == fonction.id %} selected {% endif %}>{{ fonction.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col">
                    <label for="societedate">Date d'entrée dans la société : </label>
                    <input type="date" class="form-control" id="societedate" name="societedate" placeholder="JJ/MM/AAAA" {% if filled is not null and filled.entersociete is not null %} value="{{ filled.entersociete }}" {% endif %}>
                </div>
            </div>
            <p class="lead">Adresse : *</p>
            <div class="row">
                <div class="form-group col">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="etranger" id="france" value="0" {% if filled is not null and filled.etranger == false %} checked {% endif %}>
                        <label class="form-check-label" for="yes">France</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="etranger" id="etranger" value="1" {% if filled is not null and filled.etranger == true %} checked {% endif %}>
                        <label class="form-check-label" for="no">Étranger</label>
                    </div>
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" id="pays" name="pays" placeholder="Pays" {% if filled is not null and filled.pays is not null %} value="{{ filled.pays }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" class="form-control" id="address1" name="address1" placeholder="Appartement - Étage - Couloir - Escalier" {% if filled is not null and filled.address1 is not null %} value="{{ filled.address1 }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" class="form-control" id="address2" name="address2" placeholder="Entrée - Bâtiment - Immeuble - Résidence" {% if filled is not null and filled.address2 is not null %} value="{{ filled.address2 }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" class="form-control" id="address3" name="address3" placeholder="Numéro et libellé de la voie (obligatoire)" {% if filled is not null and filled.address3 is not null %} value="{{ filled.address3 }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" class="form-control" id="address4" name="address4" placeholder="Service particulier de livraison - Lieu dit - Mention spéciale" {% if filled is not null and filled.address4 is not null %} value="{{ filled.address4 }}" {% endif %}>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <input type="text" class="form-control" id="postal" name="postal" placeholder="Code postal (obligatoire)" {% if filled is not null and filled.postal is not null %} value="{{ filled.postal }}" {% endif %}>
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" id="city" name="city" placeholder="Ville (obligatoire)" {% if filled is not null and filled.city is not null %} value="{{ filled.city }}" {% endif %}>
                </div>
            </div>
            <hr class="my-4">
            <p class="lead">Divers</p>
            <div class="row">
                <div class="input-group col">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="file" name="file" accept="image/*">
                        <label class="custom-file-label" for="file">Choisir</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label for="commentaire">Commentaire : </label>
                    <textarea type="text" class="form-control" id="commentaire" name="commentaire" placeholder="Commentaire">{% if filled is not null and filled.commentaire is not null %}{{ filled.commentaire }}{% endif %}</textarea>
                </div>
            </div>
            <input type="hidden" name="token" value="{{ csrf_token('create-contact') }}" />
            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>
    </div>
</div>