<header class="container">
    <div class="row">
        <div class="col"><a href="{{ path('test') }}"><img class="rounded" src="{{ asset('assets/img/globalis-logo.png') }}" width="250" alt="globalis logo" /></a></div>
        <div class="col text-center"><a href="{{ path('test') }}">Annuaires</a></div>
        <div class="col text-center"><a href="{{ path('listUser') }}">Utilisateurs</a></div>
        <div class="col text-center"><a href="{{ path('listFonction') }}">Fonctions</a></div>
        {% if app.session.get('user') %}
            <div class="col text-center">
                {{ app.session.get('user').prenom }} {{ app.session.get('user').nom }}<br>
                {{ app.session.get('user').role }}<br>
                <a href="{{ path('deconnexion') }}">Deconnexion</a>
            </div>
        {% else %}
            <div class="col text-center"><a href="{{ path('formConnexion') }}">Connexion</a></div>
        {% endif %}
    </div>
</header>