<header class="container">
    <div class="row">
        <div class="col"><a href="{{ path('test') }}"><img class="rounded" src="{{ asset('assets/img/globalis-logo.png') }}" width="250" alt="globalis logo" /></a></div>
        <div class="col text-center"><a href="{{ path('test') }}">Annuaires</a></div>
        <div class="col text-center"><a href="{{ path('listUser') }}">Utilisateurs</a></div>
        <div class="col text-center"><a href="{{ path('listFonction') }}">Fonctions</a></div>
        <div class="col text-center"><a href="{{ path('formConnexion') }}">Connexion</a></div>
    </div>
</header>