{% include 'base.html.twig' %}

<div class="container">
    <div class="jumbotron">
        <form method="POST" class="container">
            <div class="row">
                <div class="form-group col">
                    <label for="nom">Nom : </label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
                </div>
                <div class="form-group col">
                    <label for="penom">Prénom(s) : </label>
                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom">
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="form-group col">
                    <p>Afficher les contacts archivés : </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="archivedContact" id="yes" value="1" checked>
                        <label class="form-check-label" for="yes">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="archivedContact" id="no" value="0">
                        <label class="form-check-label" for="no">Non</label>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="phone">Téléphone : </label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Téléphone du contact">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrer</button>
        </form>
    </div>
    <hr>
    <a href="{{ path('formCreateContact') }}">
        <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Créer un contact</button>
    </a>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Société</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.societe.name }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                <td>+33 {{ contact.telephone }}</td>
                <td>
                    <a href="{{ path('showContact', {'id': contact.id}) }}"><i class="fas fa-search"></i></a>
                    {% if app.session.get('user').role.id == 1 %}
                        {% if contact.archived %}
                            <a href="{{ path('archiveContact', {'id': contact.id}) }}"><i class="fas fa-external-link-square-alt"></i></a>
                        {% else %}
                            <a href="{{ path('archiveContact', {'id': contact.id}) }}"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>