{% extends 'base.html.twig' %}

{% block title %}Liste Contacts - Annuaire Globalis{% endblock %}
{% block body %}
<div class="container">
    <div class="jumbotron">
        <form method="GET" class="container">
            <div class="row">
                <div class="form-group col">
                    <label for="nom">Nom : </label>
                    <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" {% if filtres.nom is defined %} value="{{ filtres.nom }}" {% endif %}>
                </div>
                <div class="form-group col">
                    <label for="penom">Prénom(s) : </label>
                    <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" {% if filtres.prenom is defined %} value="{{ filtres.prenom }}" {% endif %}>
                </div>
            </div>
            <hr class="my-4">
            <div class="row">
                <div class="form-group col">
                    <p>Afficher les contacts archivés : </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="archivedContact" id="yes" value="1" {% if filtres.archivedContact is defined and filtres.archivedContact == 1 %} checked {% endif %}>
                        <label class="form-check-label" for="yes">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="archivedContact" id="no" value="0" {% if filtres.archivedContact is defined and filtres.archivedContact == 0 %} checked {% endif %}>
                        <label class="form-check-label" for="no">Non</label>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="phone">Téléphone : </label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Téléphone du contact" {% if filtres.phone is defined %} value="{{ filtres.phone }}" {% endif %}>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> Filtrer</button>
            <a href="{{ path('listAnnuaire') }}">
                <button type="button" class="btn btn-danger"><i class="fas fa-times-circle"></i> Réinitialiser les filtres</button>
            </a>
        </form>
    </div>
    <hr>
    {% if app.session.get('user').role.id == 1 %}
        <a href="{{ path('formCreateContact') }}" class="col">
            <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Créer un contact</button>
        </a>
    {% endif %}
    <span class="col">Nombres de resultats : {{ count }}</span>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            {% if app.request.query.get('col') == 'societe' %}
                {% if app.request.query.get('order') == 'DESC' %}
                    <th scope="col">Société <a href="{{ path('listAnnuaire', {'col': 'societe', 'order': 'ASC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-up"></i></a></th>
                {% else %}
                    <th scope="col">Société <a href="{{ path('listAnnuaire', {'col': 'societe', 'order': 'DESC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-down"></i></a></th>
                {% endif %}
            {% else %}
                <th scope="col">Société <a href="{{ path('listAnnuaire', {'col': 'societe', 'order': 'ASC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-up"></i></a></th>
            {% endif %}
            {% if app.request.query.get('col') == 'nom' %}
                {% if app.request.query.get('order') == 'DESC' %}
                    <th scope="col">Nom <a href="{{ path('listAnnuaire', {'col': 'nom', 'order': 'ASC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-up"></i></a></th>
                {% else %}
                    <th scope="col">Nom <a href="{{ path('listAnnuaire', {'col': 'nom', 'order': 'DESC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-down"></i></a></th>
                {% endif %}
            {% else %}
                <th scope="col">Nom <a href="{{ path('listAnnuaire', {'col': 'nom', 'order': 'ASC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-up"></i></a></th>
            {% endif %}
            {% if app.request.query.get('col') == 'prenom' %}
                {% if app.request.query.get('order') == 'DESC' %}
                    <th scope="col">Prénom <a href="{{ path('listAnnuaire', {'col': 'prenom', 'order': 'ASC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-up"></i></a></th>
                {% else %}
                    <th scope="col">Prénom <a href="{{ path('listAnnuaire', {'col': 'prenom', 'order': 'DESC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-down"></i></a></th>
                {% endif %}
            {% else %}
                <th scope="col">Prénom <a href="{{ path('listAnnuaire', {'col': 'prenom', 'order': 'ASC', 'nom': app.request.query.get('nom'), 'prenom': app.request.query.get('prenom'), 'archivedContact': app.request.query.get('archivedContact'), 'phone': app.request.query.get('phone')}) }}"><i class="fas fa-arrow-up"></i></a></th>
            {% endif %}
            <th scope="col">Téléphone</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.societe.name }}</td>
                <td>{{ contact.nom }}</td>
                <td>{{ contact.prenom }}</td>
                {% if contact.telephone !=  '' %}
                    <td>{{ contact.telephone }}</td>
                {% elseif contact.mobile != '' %}
                    <td>{{ contact.mobile }}</td>
                {% else %}
                    <td>Non renseigné</td>
                {% endif %}
                <td>
                    <a href="{{ path('showContact', {'id': contact.id}) }}"><i class="fas fa-search"></i></a>
                    {% if app.session.get('user').role.id == 1 %}
                        {% if contact.archived %}
                            <a href="{{ path('archiveContact', {'id': contact.id}) }}"><i class="fas fa-external-link-square-alt"></i></a>
                        {% else %}
                            <a href="{{ path('archiveContact', {'id': contact.id}) }}"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(contacts) }}
    </div>
</div>
{% endblock %}