{% include 'base.html.twig' %}

<div class="container">
    <div class="jumbotron">
        <form method="POST" action="{{ path('listFonction') }}" class="container">
            <div class="row">
                <div class="form-group col">
                    <label for="libelle">Libellé : </label>
                    <input type="text" class="form-control" id="libelle" name="libelle" placeholder="Libellé">
                </div>
                <div class="form-group col">
                    <p>Afficher les libellés archivés : </p>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="archived" id="yes" value="1" checked>
                        <label class="form-check-label" for="yes">Oui</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="archived" id="no" value="0">
                        <label class="form-check-label" for="no">Non</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrer</button>
        </form>
    </div>
    <hr>
    <a href="{{ path('formCreateFonction') }}">
        <button type="button" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Créer une fonction</button>
    </a>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col">Libellé</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for fonction in fonctions %}
            <tr>
                <td>{{ fonction.title }}</td>
                <td>
                    {% if app.session.get('user').role.id == 1 %}
                        {% if fonction.archived %}
                            <a href="{{ path('archiveFonction', {'id': fonction.id}) }}"><i class="fas fa-external-link-square-alt"></i></a>
                        {% else %}
                            <a href="{{ path('archiveFonction', {'id': fonction.id}) }}"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                    {% else %}
                        Aucunes actions disponible
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>